In [1]:
import pandas as pd
import os
os.chdir("/home/flo/data-engineering-zoomcamp/week_1_basics_n_setup/my_docker_sql")

In [2]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', dtype_backend="pyarrow")

<ipython-input-2-aded1799db27>:1: DtypeWarning: Columns (0,3,5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv', dtype_backend="pyarrow")

In [5]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [7]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [9]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [16]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', dtype_backend="pyarrow", iterator=True, chunksize=100000)

In [18]:
df = next(df_iter)

In [19]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [22]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [23]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.59 s, sys: 477 ms, total: 4.06 s
Wall time: 6.54 s

1000

In [14]:
df_zones.to_sql(name='zones', con=engine, if_exists='append')

265

In [24]:
from time import time

In [25]:
while True:
    start = time()

    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    end = time()

    print(f"Inserted chunk in {end-start} seconds")

Inserted chunk in 6.233639478683472 seconds
Inserted chunk in 5.970495223999023 seconds
Inserted chunk in 5.96083927154541 seconds
Inserted chunk in 6.044915676116943 seconds
Inserted chunk in 6.028595209121704 seconds
Inserted chunk in 5.965006351470947 seconds
Inserted chunk in 6.273587226867676 seconds
Inserted chunk in 6.3096983432769775 seconds
Inserted chunk in 6.562462329864502 seconds
Inserted chunk in 6.251621961593628 seconds
Inserted chunk in 6.018069744110107 seconds

<ipython-input-25-b7fd573d7b0a>:4: DtypeWarning: Columns (0,3,5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted chunk in 5.907703638076782 seconds
Inserted chunk in 3.886805534362793 seconds

StopIteration: